html, body, #root { min-height: 100%; }
html { background: #f8f8f5; }
body { margin: 0; min-width: 320px; }
body, button, input { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
